<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}

    <div>
        <h2>Hi my name is Anatoly G. Tulukin. I am a big fan of dogs, both big and small. I used to have a pooch named
            Samson, considered as a big breed a.k.a Mastiff and now I am a proud owner of little Bella. She is a maltese
            and poodle mix.</h2>
        <img src="/img/me and sam.png" alt="me and Samson">
    </div>

    <div>
        <img src="/img/bella sleeping.png" alt="Bella">
    </div>

    {{>footer}}
</body>

</html>